<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Handler que diz ao IIS para rodar o Node.js -->
    <handlers>
      <add name="iisnode" path="app.js" verb="*" modules="iisnode"/>
    </handlers>

    <!-- Regras de reescrita -->
    <rewrite>
      <rules>
        <!-- Permite debug -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^app.js\/debug[\/]?" />
        </rule>

        <!-- Redireciona requisições não estáticas para o app.js -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="app.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- Configuração de logs -->
    <iisnode loggingEnabled="true" />
  </system.webServer>
</configuration>
